<configuration>

    <appender name="out-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>ts</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <logLevel>
                    <fieldName>severity</fieldName>
                </logLevel>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                    <fileFieldName>file</fileFieldName>
                </callerData>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc/>
                <arguments>
                    <includeNonStructuredArguments>false</includeNonStructuredArguments>
                </arguments>
                <stackTrace>
                    <fieldName>stack</fieldName>
                </stackTrace>
                <message>
                    <fieldName>message</fieldName>
                </message>
            </providers>
        </encoder>
    </appender>

    <appender name="out-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <!-- encoder is required -->
 <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
<!--        <encoder>  <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern></encoder>-->

    </appender>

        <logger name="com.docker.controller" level="INFO">
            <appender-ref ref="STASH"/>
        </logger>


 <!--   <logger name="com.docker.controller.CursoController" level="INFO">
        <appender-ref ref="STASH"/>
    </logger>
    <logger name="com.docker.controller.SleuthController" level="ERROR">
        <appender-ref ref="STASH"/>
    </logger>-->

    <root level="TRACE">
        <appender-ref ref="out-console"/>
        <!--        <appender-ref ref="${LOG_APPENDER:-out-json}"/>-->
    </root>

</configuration>



